* {
    box-sizing: border-box;
  }
.column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  .left {
    
    width: 19%;
    border-style: solid;
  }
  
  .right {
    float: right;
    width: 80%;
    border-style: solid;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  footer {
    background-color: #777;
    padding: 70px;
    text-align: center;
    color: white;
  }
  header {
    background-color: #666;
    padding: 30px;
   
    font-size: 35px;
    color: white;
  }
  ul
  {
      list-style-type: none;
  }

  img{
      margin-left: 10px;
  }